* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFF7E9;
}

.main {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 20px;

    height: 100vh;
}

.main h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #380022
}